.create-order-container {

  width: calc(100% - 225px);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 75px 10px;
  
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.create-order-form-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.create-order-form-header {

  width: 100%;
  padding: 0px 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.create-form-back-button {
  width: 50px;
  color: #BCE3C5;
  font-size: 50px;
}

.create-order-form-title {
  width: 100%;
  flex-shrink: 1;

  font-family: helvetica;
  color: #BCE3C5;
  font-size: 50px;
  text-align: left;
  
}

.placeholder-div {

  width: 50px;

}

.order-form-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  width: 100%;
  padding: 0px 10px;

  font-family: helvetica;
  color: #BCE3C5;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.create-order-form {

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 1;

  font-size: 24px;
  font-weight: lighter;
  text-align: left;

}

.create-form-label {

  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  margin-bottom: 25px;

}

.create-order-form-input {

  width: 100%;
  border: none;
  padding: 5px;
  margin-top: 15px;

  color: #989898;
  letter-spacing: 4px;

  box-shadow: lightgrey 0px 5px 5px -6px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}

.invalid {

  border: 2px solid red;
  margin: 1px 5px;

}

.submit-button {

  width: 100px;
  color: #BCE3C5;
  background: transparent;
  margin: 25px;
  padding: 10px;

  border: 3px solid #BCE3C5;
  border-radius: 18px;

}

.create-patient-form-container, .create-mediction-form-container {

  width: 100%;
  margin: 5px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

}

#patient-form-radio, #medication-form-radio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  border-bottom: none;
  font-style: italic;
}

.radio-input {
  margin-left: 25px;
  outline: none; 
  background-color: #BCE3C5;
  color: #BCE3C5;
}


@media only screen and (max-width: 800px) {

  .create-order-container {
    width: 100%;
  }

}