.login-component-container {
  width: 100vw;
  height: 100%;
  background:	#f2f2f2fc;

  display: flex;
  justify-content: center;
  align-items: center;

  font: helvetica;
  color: #BCE3C5;
  font-size: 12px;
  font-weight: bolder;

  background-image: url("https://images.unsplash.com/photo-1573883430060-1678c9cd4221?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-form-header {
  width: 50vw;
  height: 100%;
  padding: 10vh 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.6);

}

.login-form-logo {

  border-radius: 50%;

}

.login-form-container {
  width: 50vw;
  height: 100%;
  padding: 10vh 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.6);

  letter-spacing: 2px;
}

.login-form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-form-title {

  text-align: center;
  font-size: 24px;
  letter-spacing: 3px;

}

.login-form-label {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: center; */
}

.login-form-input {
  margin-top: 10px;
  margin-bottom: 5px;
}

.sign-in-button, .register-button {
  width: 100px;
  color: #BCE3C5;
  background: transparent;
  margin: 25px;
  padding: 10px;

  border: 3px solid #BCE3C5;
  border-radius: 18px;
}

.register-prompt-container {
  width: 100%;
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {

  .login-component-container {
    flex-direction: column;
  }

  .login-form-header {
    width: 100vw;
  }

  .login-form-container {
    width: 100vw;
    padding-top: 0;
    padding-bottom: 20vh;
  }

  .sign-in-button, .register-button {

    color: white;
    background: #BCE3C5;

    font-size: 20px;
    
    width: 125px;
    margin: 25px;
    padding: 10px;
  
    border: 3px solid white;
    border-radius: 18px;

  }

}