.login-component-container {
  width: 100vw;
  min-height: 100%;
  /* padding-top: 100px; */
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font: helvetica;
  color: white;
  font-size: 12px;
  font-weight: bolder;

  /* padding-bottom: 100px; */

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

#login-back-button {
  width: 100%;

  color: white;
  text-align: right;
}

.login-header-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: calc(70% + 210px);
  min-height: 60vh;

  background: rgba(188, 227, 197, 1);
  margin-top: 50px;
  padding: 25px;

  border: solid white 5px;
  border-radius: 15px;
  box-shadow: inset 0px -1px 5px lightgray;
}

.login-form-header-container, .login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  margin: 25px;
  padding: 25px;

  color: white;
  letter-spacing: 2px;
  font-size: clamp(1em, 24px, 2em);
  text-align: center;
}

.login-form-logo {
  border-radius: 50%;
}

.login-form-subtitle {
  font-size: 48px;
}

.login-form-container {
  height: 80%;
  justify-content: flex-start;
}

.login-form-title {

  font-weight: 700;
  font-size: 48px;
  margin: 0px 0px 50px 0px;

}

.login-form-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 5px;

  background: transparent;
  border: none;
  border-bottom: white 1px solid;

  color: white;
  font-size: 36px;
  letter-spacing: 4px;

  box-shadow: lightgrey 0px 5px 5px -6px;
}

.login-form-input::placeholder {

  color: white;
  font-size: 36px;
  letter-spacing: 4px;
}

.sign-in-button, .register-button {
  width: 80%;
  max-width: 300px;
  background: #BCE3C5;
  /* margin: 25px; */
  padding: 10px 25px;

  border: 5px solid white;
  border-radius: 18px;
 
  font-size: 30px;
  color: white;
  font-weight: 900;
}

.sign-in-button:hover, .register-button:hover {
  background: white;
 
  color: #BCE3C5;
}

.register-prompt-container {
  width: 100%;
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {

  .login-component-container {
    padding: 25px;

    font-size: clamp(0.75em, 18px, 1.5em);
  }

  .login-header-form-container {
    flex-direction: column;
    justify-content: flex-start;
  
    width: calc(100% - 30px);
    min-height: 60vh;
  
    margin-top: 25px;
    padding: 25px 10px;
  }

  .login-form-header-container, .login-form-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .login-form-subtitle, .login-form-title {
    font-size: 30px;
  }

  .login-form-title {
    margin: 0px 0px 25px 0px;
  }

  .login-form-container {
    width: 100%;
  }

  .login-form-input {
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 5px;
  
    font-size: 24px;
  }
  
  .login-form-input::placeholder {
  
    color: white;
    font-size: 24px;
    letter-spacing: 4px;
  }

  .sign-in-button, .register-button {
    font-size: 20px;
    
    width: 150px;
    margin: 10px;
    padding: 10px;
  }

  .register-prompt-container {
    width: 100%;
    margin-top: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}