.login-router-container-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

}

.doctor-login-container, .patient-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 35%;
  height: 60vh;

  background: rgba(188, 227, 197, 1);
  margin: 25px;
  padding: 25px;

  border: solid white 5px;
  border-radius: 15px;
  box-shadow: inset 0px -1px 5px lightgray;

  /* color: #989898; */
  color: white;
  letter-spacing: 2px;
  font-size: clamp(1em, 24px, 2em);
  text-align: center;

  transition: all 0.2s ease-in-out;
}

.doctor-login-container:hover, .patient-login-container:hover {
  transform: scale(1.05);
}

.doctor-login-title, .patient-login-title {
  font-weight: 900;
  font-size: 48px;
  margin: 10px 0px;
}

.doctor-login-subtitle, .patient-login-subtitle {
  font-weight: 300;
  font-size: 36px;margin: 15px 0px 50px 0px;
}

.login-router-button {
  width: 80%;
  max-width: 300px;
  background: #BCE3C5;
  /* margin: 25px; */
  padding: 10px 25px;

  border: 5px solid white;
  border-radius: 18px;
 
  font-size: 30px;
  color: white;
  font-weight: 900;
}

.login-router-button:hover {
  background: white;
 
  color: #BCE3C5;
}

.fa-solid, .fa-regular {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-bottom: 15px;


  font-size: 50px; 
  color: white;
}


@media only screen and (max-width: 800px) {

  .login-router-container-desktop {
    flex-direction: column;
    justify-content: flex-start;
  
  }

  .doctor-login-container, .patient-login-container {
    width: 80%;
    height: 40vh;
  
    margin: 25px;
    padding: 10px;
  
    font-size: clamp(0.75em, 18px, 1.5em);
  }

  .doctor-login-title, .patient-login-title {
    font-weight: 900;
    font-size: 36px;
    margin: 5px 0px;
  }

  .doctor-login-subtitle, .patient-login-subtitle {
    font-weight: 500;
    font-size: 24px;
    margin: 15px 0px 25px 0px;
  }
  
  .login-router-button {
    width: 80%;
    max-width: 300px;
    background: #BCE3C5;
    /* margin: 25px; */
    padding: 5px 10px;
  
    border: 5px solid white;
    border-radius: 18px;
   
    font-size: 24px;
    color: white;
    font-weight: 700;
  }

}