.create-patient-form-title {

  font-family: helvetica;
  color: #BCE3C5;
  font-size: 50px;
}

.patient-create-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1em;
  padding: 25px 0px;

  border-top: 3px solid #BCE3C5;
  border-bottom: 3px solid #BCE3C5;
}

.create-patient-form-input {

  width: 100%;
  border: none;
  padding: 5px;
  margin-top: 15px;

  color: #989898;
  letter-spacing: 4px;

  box-shadow: lightgrey 0px 5px 5px -6px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;

}